.swiper {
  display: none;
  overflow: hidden;
  position: relative;
  @media (max-width: 566px) {
    display: block;
    margin-top: 50px;
  }
  .swiper-pagination {
    margin-top: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    width: auto;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #e7ebf0;
      margin: 5px;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #a6abbd;
      margin: 5px;
    }
  }

  .swiper-button-prev {
    position: absolute;
    bottom: -2.2%;
    right: 63%;
    z-index: 11;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    @media (max-width: 450px) {
      right: 66%;
    }
    @media (max-width: 320px) {
      right: 69%;
    }
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .swiper-button-next {
    position: absolute;
    bottom: -2.2%;
    left: 63%;
    z-index: 11;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    @media (max-width: 450px) {
      left: 66%;
    }
    @media (max-width: 320px) {
      left: 69%;
    }
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      img {
        width: 64px;
        height: 71.5px;
        -webkit-filter: drop-shadow(4px 4px 8px #a6abbd);
        filter: drop-shadow(4px 4px 8px #a6abbd);
        margin-bottom: 22px;
      }
      .desc {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        max-width: 176px;
      }
    }
  }
}
