.comments {
  background: #f5f5f5;
  width: 50%;
  padding: 100px 68px 100px 100px;
  @media (max-width: 1598px) {
    padding: 100px 68px;
  }
  @media (max-width: 1398px) {
    padding: 80px 38px;
  }
  @media (max-width: 1198px) {
    padding: 60px 28px;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 320px) {
    padding: 27px 16px;
    background: #fff;
  }
  .title-comments {
    max-width: 814px;
    text-transform: inherit;
    @media (max-width: 320px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .wrapper {
    margin-top: 44px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 320px) {
      margin: 0;
    }
    .wrapper__comment {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media (max-width: 1198px) {
        flex-direction: column;
        align-items: center;
      }
      @media (max-width: 320px) {
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
        border-radius: 32px;
        padding: 80px 16px 15px 16px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 91px;
      }

      .quoTesGreyL{
        display: none;
        @media (max-width: 320px) {
          display: block;
          position: absolute;
          top: 20px;
          left: 15px;
        }

      }

      .quoTesGreyR{
        display: none;
        @media (max-width: 320px) {
          display: block;
          position: absolute;
          top: 20px;
          right: 15px;
        }
      }
      .avatar {
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
        border-radius: 100px;
        width: 27%;
        height: 100%;
        margin-right: 14px;
        @media (max-width: 320px) {
          width: 38%;
          height: auto;
          position: absolute;
          bottom: 88%;
        }
      }
      .quoteL {
        width: 40px;
        height: 26px;
        margin-bottom: auto;
        margin-right: 17px;
        @media (max-width: 1198px) {
          margin-right: auto;
          margin-bottom: 10px;
        }
        @media (max-width: 320px) {
          display: none;
        }
      }
      .quoteR {
        width: 40px;
        height: 26px;
        margin-top: auto;
        margin-left: 17px;
        @media (max-width: 320px) {
          display: none;
        }
      }

      .desc {
        @media (max-width: 1598px) {
          font-size: 15px;
        }
        @media (max-width: 320px) {
          text-align: center;
        }
        span {
          margin-top: 15px;
          display: block;
          font-weight: 700;
          line-height: 18.75px;
          display: flex;
          justify-content: space-between;
          @media (max-width: 320px) {
            justify-content: center;
          }
        }
      }
    }
    .wrapper__comment-small {
      margin-top: 141px;
      width: 48%;
      display: flex;
      flex-direction: row;

      @media (max-width: 1598px) {
        margin-top: 100px;
      }
      @media (max-width: 1398px) {
        margin-top: 80px;
      }
      @media (max-width: 1198px) {
        margin-top: 60px;
        width: 100%;
        justify-content: center;
      }
      @media (max-width: 992px) {
        margin-top: 35px;
      }
      @media (max-width: 320px) {
        flex-direction: row-reverse;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: space-around;
        @media (max-width: 1198px) {
          justify-content: center;
        }
        @media (max-width: 320px) {
          flex-direction: row;
        }
      }
      .small-avatar {
        width: 97px;
        height: 97px;
        margin-right: 10px;
      }
      .desc {
        width: 242px;
        span {
          margin-top: 15px;
          display: block;
          font-weight: 700;
          line-height: 18.75px;
        }
      }
    }
  }
}
